:root{
    --blue: #004dc3;
}

img{
    max-width: 100%;
    height: auto;
}
header{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
header .row{
    align-items: center;
}
header nav{
    text-align: right;
}
header ul{
    padding-left: 0;
    margin-bottom: 0;
    display: inline-block;
}
header form{
    display: inline-block;
    margin-left: 60px;
}
header ul li{
    display: inline-block;
    margin-left: 30px;
}
header ul li a{
    color: #333;
}
header ul li a:hover{
    color: var(--blue);
    text-decoration: none;
}
.page{
    padding: 60px 0 300px;
}
.sidebar ul{
    padding-left: 0;
    margin-bottom: 0;
}
.sidebar ul li{
    display: block;
    margin-bottom: 5px;
}
.sidebar ul li a{
    color: #333;
    display: block;
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.sidebar ul li a:hover{
    background-color: var(--blue);
    color: #fff;
    text-decoration: none;
}

.sidebar ul li.current a{
    background-color: var(--blue);
    color: #fff;
}
.dashboard-item{
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.dashboard-item .num{
    font-size: 100px;
    color: var(--blue);
    line-height: 1.1;
}
.copy{
    background-color: var(--blue);
}
.copy p{
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 0;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding: 0 10px;
}
.aic{
    align-items: center;
}
form{
    margin-bottom: 0;
}
form input, form select{
    width: 100%;
    border: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: 45px;
    padding: 0 5px;
}
.alert{
    opacity: 1;
    font-size: 12px;
    padding: 5px 10px;
}
.table td, .table th{
    vertical-align: middle;
}
.btn{
    font-size: 14px;
    margin: 2px;
}